# dectionary
 * key:value  (items)
   * key is replacement of indexes
   * value is item

 * dict_variable[key]
   * dict_variabl[new_key] =new_value
     * add new values
     * update the values

In [2]:
# List
data :list[str]  = ["Nasir Abbas", "Manzoor hussain", "BS IT"]

In [14]:
# Dictionary
data :dict[str,str]  = {
                         "name":"Nasir Abbas",
                        "fname":"Manzoor hussain",
                        "education":"BS IT"
                        }
display(data)
display(data["name"])
display(data["fname"])
display(data["education"])

{'name': 'Nasir Abbas', 'fname': 'Manzoor hussain', 'education': 'BS IT'}

'Nasir Abbas'

'Manzoor hussain'

'BS IT'

In [13]:
data :dict[str,str]  = {
                         "name":"Nasir Abbas",
                        "fname":"Manzoor hussain",
                        "education":"BS IT"
                        }
display(data)


data["address"] ="Jhang" # adding new value
display(data)

{'name': 'Nasir Abbas', 'fname': 'Manzoor hussain', 'education': 'BS IT'}

{'name': 'Nasir Abbas',
 'fname': 'Manzoor hussain',
 'education': 'BS IT',
 'address': 'Jhang'}

In [15]:
data :dict[str,str]  = {
                         "name":"Nasir Abbas",
                        "fname":"Manzoor hussain",
                        "education":"BS IT"
                        }
display(data)


data["education"] ="Master in Data Science" # update value
display(data)

{'name': 'Nasir Abbas', 'fname': 'Manzoor hussain', 'education': 'BS IT'}

{'name': 'Nasir Abbas',
 'fname': 'Manzoor hussain',
 'education': 'Master in Data Science'}

In [18]:
from typing import Dict, Union
Key= Union[str,int] # create custom type 
Value= Union[str,int,dict,list,set,tuple] # create custom type 
data :Dict[Key,Value]  = {
                         "name":"Nasir Abbas",
                        "fname":"Manzoor hussain",
                        "education":"BS IT",
                        1:"Pakistan",
                        "year":2023
                        }
print(data)
print(data["name"])
print(data["fname"])
print(data["education"])
print(data[1])
print(data["year"])

{'name': 'Nasir Abbas', 'fname': 'Manzoor hussain', 'education': 'BS IT', 1: 'Pakistan', 'year': 2023}
Nasir Abbas
Manzoor hussain
BS IT
Pakistan
2023

In [20]:
from typing import Dict, Union
Key= Union[str,int] # create custom type 
Value= Union[str,int,dict,list,set,tuple] # create custom type 
data :Dict[Key,Value]  = {
                         "name":"Nasir Abbas",
                        "fname":"Manzoor hussain",
                        "education":"BS IT",
                        "xyz":[1,2,3],
                        "abc":(1,2,3),
                        "def":{1,2,3},
                        "gif":{"a":1,"b":2,"c":3},
                        }
print(data)
print(data["name"])
print(data["fname"])
print(data["xyz"])
print(data["abc"])
print(data["def"])
print(data["gif"])
print(data["gif"]["a"]) # getting value from inner dictionary
print(data["gif"]["b"])
print(data["gif"]["c"])

{'name': 'Nasir Abbas', 'fname': 'Manzoor hussain', 'education': 'BS IT', 'xyz': [1, 2, 3], 'abc': (1, 2, 3), 'def': {1, 2, 3}, 'gif': {'a': 1, 'b': 2, 'c': 3}}
Nasir Abbas
Manzoor hussain
[1, 2, 3]
(1, 2, 3)
{1, 2, 3}
{'a': 1, 'b': 2, 'c': 3}
1
2
3

# Methods

In [22]:
# dictionary method
data :dict[str,str]  = {
                         "name":"Nasir Abbas",
                        "fname":"Manzoor hussain",
                        "education":"BS IT"
                        }

[i for i in dir(data) if "_" not in i]

['clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

#### clear() method

In [47]:
data :dict[str,str]  = {
                         "name":"Nasir Abbas",
                        "fname":"Manzoor hussain",
                        "education":"BS IT"
                        }
print("before",data)
data.clear()
print("after",data)

before {'name': 'Nasir Abbas', 'fname': 'Manzoor hussain', 'education': 'BS IT'}
after {}

#### pop()

In [48]:
data :dict[str,str]  = {
                         "name":"Nasir Abbas",
                        "fname":"Manzoor hussain",
                        "education":"BS IT"
                        }
print("before",data)
a : str = data.pop("education")
print(a)
print("after",data)

before {'name': 'Nasir Abbas', 'fname': 'Manzoor hussain', 'education': 'BS IT'}
BS IT
after {'name': 'Nasir Abbas', 'fname': 'Manzoor hussain'}

#### popitem() method
* delete the last key value pair

In [54]:
data :dict[str,str]  = {
                         "name":"Nasir Abbas",
                        "fname":"Manzoor hussain",
                        "education":"BS IT"
                        }
print("before",data)
a : str = data.popitem()
print(a)
print("after",data)

before {'name': 'Nasir Abbas', 'fname': 'Manzoor hussain', 'education': 'BS IT'}
('education', 'BS IT')
after {'name': 'Nasir Abbas', 'fname': 'Manzoor hussain'}

#### copy() method

In [53]:
data :dict[str,str]  = {
                         "name":"Nasir Abbas",
                        "fname":"Manzoor hussain",
                        "education":"BS IT"
                        }
print("before",data)
data1= data.copy() # deep copy
print("after",data1)

data1['age']= 20
print("data",data)
print("data1",data1)

before {'name': 'Nasir Abbas', 'fname': 'Manzoor hussain', 'education': 'BS IT'}
after {'name': 'Nasir Abbas', 'fname': 'Manzoor hussain', 'education': 'BS IT'}
data {'name': 'Nasir Abbas', 'fname': 'Manzoor hussain', 'education': 'BS IT'}
data1 {'name': 'Nasir Abbas', 'fname': 'Manzoor hussain', 'education': 'BS IT', 'age': 20}

In [23]:
data :dict[str,str]  = {
                         "name":"Nasir Abbas",
                        "fname":"Manzoor hussain",
                        "education":"BS IT"
                        }
print(data['pakistan'])

KeyError: 'pakistan'

#### get() method

In [26]:
# get() method do not show if key is not exist
data :dict[str,str]  = {
                         "name":"Nasir Abbas",
                        "fname":"Manzoor hussain",
                        "education":"BS IT"
                        }
print(data.get('pakistan',"not available"))
print(data.get('education',"not available"))

not available
BS IT

#### setdefault() method
 * if key not available then add in dict

In [56]:
data :dict[str,str]  = {
                         "name":"Nasir Abbas",
                        "fname":"Manzoor hussain",
                        "education":"BS IT"
                        }


print("before",data)
a : str = data.setdefault('pakistan',"empty value")
print(a)
print("after",data)

before {'name': 'Nasir Abbas', 'fname': 'Manzoor hussain', 'education': 'BS IT'}
empty value
after {'name': 'Nasir Abbas', 'fname': 'Manzoor hussain', 'education': 'BS IT', 'pakistan': 'empty value'}

#### update() method

In [57]:
from typing import Dict, Union,Any

Key= Union[str,int] # create custom type 
Value= Union[str,int,Dict[str,int],list,set,tuple] # create custom type 
data :Dict[Key,Value]  = {
                         "name":"Nasir Abbas",
                        "fname":"Manzoor hussain",
                        "education":"BS IT",
                        }
data1 :Dict[Key,Value]  = {
                        "name":"Nasir Khan",
                        "age":20,
                        "height":"5 feet",
                        }
data.update(data1)
print(data)

{'name': 'Nasir Khan', 'fname': 'Manzoor hussain', 'education': 'BS IT', 'age': 20, 'height': '5 feet'}

In [27]:
data :dict[str,str]  = {
                         "name":"Nasir Abbas",
                        "fname":"Manzoor hussain",
                        "education":"BS IT"
                        }
for d in data:
    print(d) # it returns keys

name
fname
education

#### keys() method
#### values() method
#### items() method

In [29]:
data :dict[str,str]  = {
                         "name":"Nasir Abbas",
                        "fname":"Manzoor hussain",
                        "education":"BS IT"
                        }
print(data.keys()) # return keys
print(data.values()) # return values
print(data.items()) # return both keys and values

dict_keys(['name', 'fname', 'education'])
dict_values(['Nasir Abbas', 'Manzoor hussain', 'BS IT'])
dict_items([('name', 'Nasir Abbas'), ('fname', 'Manzoor hussain'), ('education', 'BS IT')])

In [33]:
data :dict[str,str]  = {
                         "name":"Nasir Abbas",
                        "fname":"Manzoor hussain",
                        "education":"BS IT"
                        }
# print(data.keys()) # return keys
# print(data.values()) # return values
# print(data.items()) # return both keys and values
for k in data.keys():
    print(k,data[k])

name Nasir Abbas
fname Manzoor hussain
education BS IT

In [34]:
data :dict[str,str]  = {
                         "name":"Nasir Abbas",
                        "fname":"Manzoor hussain",
                        "education":"BS IT"
                        }
# print(data.keys()) # return keys
# print(data.values()) # return values
# print(data.items()) # return both keys and values
for v in data.values():
    print(v)

Nasir Abbas
Manzoor hussain
BS IT

In [35]:
data :dict[str,str]  = {
                         "name":"Nasir Abbas",
                        "fname":"Manzoor hussain",
                        "education":"BS IT"
                        }
# print(data.keys()) # return keys
# print(data.values()) # return values
# print(data.items()) # return both keys and values
for k,v in data.items(): # zip function or destructure
    print(k,v)

name Nasir Abbas
fname Manzoor hussain
education BS IT

In [42]:
# dictionary comprehnsive
print({k:v for k,v in data.items() })
print({v:k for k,v in data.items() }) # shfal the key pair values

{'name': 'Nasir Abbas', 'fname': 'Manzoor hussain', 'education': 'BS IT'}
{'Nasir Abbas': 'name', 'Manzoor hussain': 'fname', 'BS IT': 'education'}

#### fromkeys( ) method

In [45]:
keys:list[str] = ["id", "name", "fname" ,"course"]
data:dict[Key,Value]= {}
print(data)
data=data.fromkeys(keys)
print(data)

{}
{'id': None, 'name': None, 'fname': None, 'course': None}

# json

In [61]:
from typing import Dict, Union,Any

Key= Union[str,int] # create custom type 
Value= Union[str,int,Dict[str,int],list,set,tuple] # create custom type 
data :Dict[Key,Value]  = {
                         "name":"Nasir Abbas",
                        "fname":"Manzoor hussain",
                        "education":"BS IT",
                        }
print(type(data))
print(data)

<class 'dict'>
{'name': 'Nasir Abbas', 'fname': 'Manzoor hussain', 'education': 'BS IT'}

In [60]:
import json
data2= json.dumps(data)
print(type(data2))
print(data2)

<class 'str'>
{"name": "Nasir Abbas", "fname": "Manzoor hussain", "education": "BS IT"}